@import "/src/assets/styles/variables.scss";

.backdrop-wrapper {
  border-radius: 16px;
  margin-bottom: 20px;
  overflow: hidden;
}

.main-section {
  background-color: $background-color;
  border-radius: 16px;
  margin-bottom: 40px;
  padding: 32px 16px;
  color: $text-color;
  text-align: center;

  .main-title {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .main-info {
    margin: 0 0 12px;
    font-size: 0.95rem;
  }
  .votes-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      text-align: start;
    }
    .vote-average {
      font-size: 2rem;
    }
    .vote-description {
      font-size: 1.2rem;
    }
    .vote-count {
      font-size: 0.8rem;
    }
  }
}

.media-flex {
  display: flex;
  gap: 12px;
  padding: 12px 0;
}

.movie-info {
  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 8px;
    }
  }
}
