@import "/src/assets/styles/variables.scss";

.header-container {
  background-color: $background-color;
  padding: 24px;
}

.search-header {
  display: flex;
  justify-content: space-between;
  border: 2px solid $light-color;
  border-radius: 24px;
  overflow: hidden;
  color: $neutral-color;
}

.search-header-skin {
  border-left: 3px solid $primary-color;
  border-right: 3px solid $primary-color;
}

.search-input {
  flex: 1;
}
