<div class="browse-header-container">
  <div class="title">
    <h1>Movies</h1>
    <scm-input-select [optionList]="movieRequestList" [(value)]="requestType" (valueChange)="requestChanged()"></scm-input-select>
  </div>

  <p>{{date}}</p>
</div>

<div class="browse-filters-container">
  <app-filters [genreList]="movieGenreList" [currentFilters]="filters" (filtersChange)="filtersChanged($event)"></app-filters>
</div>

<div class="browse-card-container">
  <app-element-card class="card" *ngFor="let card of movieCardList" [card]="card" [routerLink]="['/browse/movies', card.id]"></app-element-card>
</div>

<div class="load-more-container">
  <sm-flat-button *ngIf="filters.page < totalPages" label="LOAD MORE" (buttonClick)="loadMore()"></sm-flat-button>
</div>