<div class="footer-nav">
  <div class="nav-link" routerLink="/discover" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <p class="nav-link-label">Discover</p>
  </div>
  <div class="nav-link" routerLink="/browse/movies" routerLinkActive="active">
    <mat-icon>movie</mat-icon>
    <p class="nav-link-label">Movies</p>
  </div>
  <div class="nav-link" routerLink="/browse/shows" routerLinkActive="active">
    <mat-icon>tv</mat-icon>
    <p class="nav-link-label">Shows</p>
  </div>
</div>